body {
    color: #fff;
    height: 100%;
}

html {
    background-color: #000;
    height: 100%;
}

header {
    color: #ffff;
    font-size: 225%;
    text-align: center;
}
.biotext {
    color: #ffff;
    font-size: 20px;
    text-align: left;
}
.profilephoto {
    float: right;
    width:20%;
    height:30%;
}
.footertext {
    color: #ffff ;
}
footer {
    height: 80px;
}
main {
    min-height: 100%;
    margin-bottom: -80px;
}